@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    position:relative;
    background-color: black;
    display: flex;
    font-family: 'VT323', monospace;
    align-items: center;
    justify-content: center;
    width:auto;  
    height: auto; 
    padding: 3em;
    margin: auto;
    
}

.outer-container{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    min-width: 700px;
    margin: auto;
    position:relative;
    width:auto;  
    height: auto; 
    flex-basis: 80%;
}


.outer-1{
    
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-color: #40f000;
    border-width: 0.5em;
    border-style: inset;
    min-height: 500px;
    min-width: 300px;
    height: auto;
    box-shadow:
    
	  inset #91d877 0 0 0 5px, 
    inset #b6eea1 0 0 0 1px, 
    inset #98f078 0 0 0 10px, 
    inset #aff197 0 0 0 11px, 
    inset #abf390 0 0 0 16px, 
    inset #8ee071 0 0 0 17px, 
    inset #cafab9 0 0 0 21px, 
    inset #54ee1c 0 0 30px 20px;
    flex-basis: 100%;
}

                                    /*---SCORE-BOARD PROPERTIES*/

.score-board{
    position: absolute;
    border-color: #c6f8b4;
    border-width: 0.2em;
    border-style:solid;
    box-shadow:
	  inset #91d877 0 0 0 5px, 
    inset #b6eea1 0 0 0 1px, 
    inset #54ee1c 0 0 30px 10px;
    left: 0; 
    right: 0;
    top:-30px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 150px;
    height: 70px;
    background-color: black;
    z-index: 1;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: auto;
    color: #40f000;
    text-align: center;
}

                    /*----PLAYER HAND DISPLAY-----*/

.player-hand-left{
    margin: 1em;
    display: flex;
    height: 60%;
    position: absolute;
    border-color: #40f000;
    border-width: 0.4em;
    border-style: solid;
    left: -100px;
    width: 300px;
    min-width: 100px;
    min-height: 100px;
    box-shadow:
    inset #91d877 0 0 0 5px, 
    inset #b6eea1 0 0 0 1px, 
    inset #54ee1c 0 0 30px 10px;
    
    background-color: black;
    z-index: 1;

}



.player-hand-right{
    margin: 1em;
    display: flex;
    height: 60%;
    position: absolute;
    border-color: #40f000;
    box-shadow:
    inset #91d877 0 0 0 5px, 
    inset #b6eea1 0 0 0 1px, 
    inset #54ee1c 0 0 30px 10px;
    border-width: 0.4em;
    border-style: solid;
    right: -100px;
    min-width: 100px;
    min-height: 100px;
    width: 300px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: black;
    z-index: 1;

}

                     /*----Player LEFT IMAGES----*/
#rock-left{
    background: url("./images/rock-left.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 70%;   
    width: 80%;         
    display: none;
    z-index: 3;
}

#paper-left{
    background: url("./images/paper-left.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 90%;   
    width: 80%;         
    display: none;
    z-index: 3;
}

#scissor-left{
    background: url("./images/scissor-left.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 90%;   
    width: 80%;         
    display: none;
    z-index: 3;
}

                                /*----COMPUTER RIGHT-HAND IMAGES----*/

#rock-right{
    background: url("./images/rock-right.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 70%;   
    width: 80%;         
    display: none;
    
    z-index: 3;
}

#paper-right{
    background: url("./images/paper-right.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 90%;   
    width: 80%;         
    display: none;
    z-index: 3;
}

#scissor-right{
    background: url("./images/scissor-right.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 90%;   
    width: 80%;         
    display: none;
    z-index: 3;
}

/*=========----------------------------------------=====Animations-right side*/

.animate_1{
    display: flex;
    animation: rotateR 500ms 8 alternate;
}

@keyframes rotateR {
    0%{
        rotate: 0;
    }
    100%{
        rotate:45deg;
    }
}


/* ----------=====================================*Animations-left side*/
.animate_2{
    display: flex;
    animation: rotateL 500ms 8 alternate;
}

@keyframes rotateL {
    0%{
        rotate: 0;
    }
    100%{
        rotate:-45deg;
    }
}


.player-tag { 
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
}

.computer-tag{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
}


                                /*----Middle Prompt message Properties----*/
.prompt{
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-style: solid;   
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    min-width: 100px;
    min-height: 90px;    
}


                                    /*Prompt animations*/

#message{
    display: none;
}

.countdown .number{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    justify-content: center;
    align-items: center;
    transform: rotateY(270deg);
    animation: animate 4000ms linear;
}

.countdown .number:nth-child(1){
    animation-delay: 1000ms;
}

.countdown .number:nth-child(2){
    animation-delay: 2000ms;
}

.countdown .number:nth-child(3){
    animation-delay: 3000ms;
}

@keyframes animate {
    0% {
      transform: rotateY(90deg);
    }
    
    10%, 100% {
      transform: rotateY(-90deg);
    }
  }




                                    /*BUTTONS ICONS*/
.buttons{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    margin: 0;
    
    min-width: 280px;
    padding-bottom: 1em;
}

button{
    background-color: #40f000;
    border-style: none;   
}

#rock{
    background: url("./images/rock-button.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 50px;   
    width: 50px;         
    
    cursor: pointer;
    display: block;
    
    z-index: 3;
}

#paper{
    background: url("./images/paper-button.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    margin: auto;
    height: 50px;   
    width: 50px;         
    
    cursor: pointer;
    display: block;
    
    z-index: 3;
}

#scissor{
    background: url("./images/scissor-button.svg");    
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    
    margin: auto;
    height: 50px;   
    width: 50px;         
    
    cursor: pointer;
    display: block;
    
    z-index: 2;
}

#rock:active{
    background: url("./images/rock-button.svg"); 
    background-color: #40f000; /* defines the background color of the image */
    mask: url(./images/rock-button.svg) no-repeat center / contain;
    -webkit-mask: url(./images/rock-button.svg) no-repeat center / contain;
}

#scissor:active{
    background: url("./images/scissor-button.svg");   
    background-color: #40f000; /* defines the background color of the image */
    mask: url(./images/scissor-button.svg) no-repeat center / contain;
    -webkit-mask: url(./images/scissor-button.svg) no-repeat center / contain;
    
}

#paper:active{
    background: url("./images/scissor-button.svg");   
    background-color: #40f000; /* defines the background color of the image */
    mask: url(./images/paper-button.svg) no-repeat center / contain;
    -webkit-mask: url(./images/paper-button.svg) no-repeat center / contain;
}


.click-btn{
    height: 55px;
    width: 60px;
    background-color: #40f000;
    z-index: 2;
    padding: 1px;
    border-style: inset ;
    border-color: #54ee1c;
}

.click-btn:hover{    
    box-shadow: inset #b8f192 0 0 10px 5px;
}

.click-btn:active{
    background-color: black;
    box-shadow: inset #54ee1c 0 0 20px 5px;
}





                                        /*----Media querries----*/

@media screen and (max-height:740px) {
    .outer-container > .outer-1{
        height: 500px;
        flex-basis: 0;
    }

   

    /* .outer-1 > .score-board {    
        
    } */

    .outer-1 .prompt{
        height: 90px;
    }
}

@media screen and (max-width:600px) {   
    
    .click-btn:hover{
        box-shadow: none;
    }
    
    .outer-1 .prompt{
        position: relative;
    }

    .buttons{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 300px;
        height: 50px;
        margin: 0;
    }

    .player-hand-right{
        border-style: double;
    }

    .player-hand-left{
        border-style: double;
    }

    .score-board{
        position: relative;
        top: -10px;
        border-style: solid;
    }

   
    body{
        height: auto;
        min-height: 500px;
        padding: 0;
    }

    .outer-container{
        min-width: 280px;
        min-height: 500px;
        align-items: center;
    }
    
    .hands{
        position: relative;
        width: 200px;
        height: 200px;
        
        left: 0;
        margin: auto;
        right: 0;
        
    }

    .outer-1{
        min-width: 280px;
        min-height: 300px;
        flex-direction: column-reverse;
        min-height: 500px;
        gap: 1em;
        padding: 1em;
        border-width: 0.2;
        padding-top: 3em;
        height: 700px;
        box-shadow:    
            inset #91d877 0 0 0 5px, 
            inset #b6eea1 0 0 0 1px, 
            inset #98f078 0 0 0 10px, 
            inset #8cf566 0 0 15px 15px; 
    }    
}